<div id="wrapper">
    <header></header>
    <div id="success-bg">
      <div class="success-container">
        <div class="success-content"><i data-wow-delay="0.2s" class="fa fa-check-circle wow fadeInUp animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"></i>
          <h1 data-wow-delay="0.4s" class="slate wow fadeInUp animated" style="animation-delay: 0.3s;">SUCCESS!</h1>
          <p data-wow-delay="0.6s" class="statement wow fadeInUp animated" style="animation-delay: 0.1s;">Your message has been sent to my Inbox. We'll get in touch soon.</p><a data-wow-delay="0.8s" routerLink="/" class="button nounderline button-primary wow fadeInUp animated" >Go Back</a>
        </div>
      </div>
    </div>
  </div>