<div id="wrapper">
    <header></header>
    <!-- Start Hero Section-->
    <div id="fullscreen-hero" class="home-hero">
      <div class="hero-container">
        <div class="hero-content"><a routerLink="/" class="home-logo"><img src="assets/images/logomark.png"></a>
          <h1 class="cd-headline letters type"><span>Hi, I'm Mordeccai. I Create</span><br>
            <span class="cd-words-wrapper waiting">
              <b class="is-visible" style="opacity: 1;"><i class="in">m</i><i class="in">o</i><i class="in">b</i><i class="in">i</i><i class="in">l</i><i class="in">e</i><i class="in">&ngsp;</i><i class="in">a</i><i class="in">p</i><i class="in">p</i><i class="in">s</i><i class="in">.</i></b>
              <b style="opacity: 1;" class="is-hidden"><i class="out">v</i><i class="out">e</i><i class="out">c</i><i class="out">t</i><i class="out">o</i><i class="out">r</i><i class="out">&ngsp;</i><i class="out">g</i><i class="out">r</i><i class="out">a</i><i class="out">p</i><i class="out">h</i><i class="out">i</i><i class="out">c</i><i class="out">s</i></b>
              <b style="opacity: 1;" class="is-hidden"><i class="out">w</i><i class="out">e</i><i class="out">b</i><i class="out">&ngsp;</i><i class="out">s</i><i class="out">i</i><i class="out">t</i><i class="out">e</i><i class="out">s</i><i class="out">.</i></b>
              <b style="opacity: 1;" class="is-hidden"><i class="out">w</i><i class="out">e</i><i class="out">b</i><i class="out">&ngsp;</i><i class="out">a</i><i class="out">p</i><i class="out">p</i><i class="out">s</i><i class="out">.</i></b>
            </span>
          </h1>
          <div class="page-scroll"><a href="#sub-footer" class="button nounderline button-ghost">{{jobAvailability}}</a></div>
          <div class="page-scroll learn-more "><a class="nounderline " href="#me">Scroll to learn more.<br><i class="fa fa-chevron-down animated  bounceIn infinite"></i></a></div>
        </div>
      </div>
    </div>
    <!-- Start Experience Section-->
    <section id="me">
      <div class="container">
        <div class="row">
          <div class="eight columns offset-by-two columns">
            <p class="intro slate">My Expertise</p>
            <p class="statement gunmetal">I am a Software Developer with 5 years experience</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="expertise-block"><i class="fa fa-laptop yellow"></i>
              <h4 class="title slate">Job Description</h4>
              <p class="summary">
      I collaborate with clients and peers to nurture 
      and transform well thought out projects into usable software solutions. Is it a mobile, desktop or web app you require? Look no further. mobile apps and design.
      </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="expertise-block"><i class="fa fa-code yellow"></i>
              <h4 class="title slate">Software Skills</h4>
              <ul>
                  <li>Android Development (Java)</li>
                  <li>Web Development (Node.js, Angular)</li>
                  <li>Mobile Cross Platform (Flutter) </li>
                  <li>Desktop apps (JavaFx/ Electron) </li>
                </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="expertise-block"><i class="fa fa-star yellow"></i>
              <h4 class="title slate">Star Points</h4>
              <p class="summary">
                I am also a Graphic designer. What does that mean? I am definately focusing on the apearence of the project. I don't just leave it working i leave it well designed. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Start Work Section-->
    <div id="work">
        <div class="container">
          <div class="row">
            <div class="twleve columns">
              <p class="intro slate">Featured Projects</p>
              <p class="statement gunmetal">These are some of the projects that I have done recently</p>
            </div>
          </div>
          <section class="project-showcase">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="assets/images/sakko.PNG" class="project-image"></div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="project-content text-left">
                  <h3 class="project-title">Sakko Mfi 2.0</h3>
                  <ul class="project-tags">
                    <li>Sacco Microfinance system</li>
                  </ul>
                  <p class="project-description">
          Sakko Microfinance System is a web application created to assist in the
          management of Savings and Credits Societies. It it tailored for management of
          loans, viewing reports of the Members registered to the Sakko
          
          
          
          .</p><a href="http://sakko.mordeccai.com" target="_blank" class="button nounderline button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          <section class="project-testimonial">
            <blockquote class="slate">“A system that takes more than a week requires planning. Thats what I do everytime I Indulge into a new project to come up with a system that has both good user experience and works to the detail. Just try them out”</blockquote>
            <div class="project-testimonial-avatar"><img src="assets/images/avatar-tito.jpg"></div>
            <div class="project-testimonial-name">Tito Mordeccai, Software Developer</div>
          </section>
          <section class="project-showcase">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="project-content text-left">
                  <h3 class="project-title">Kava Decisioning Platfrom</h3>
                  <ul class="project-tags">
                    <li>Credit scoring</li>
                  </ul>
                  <p class="project-description">
                    Kava Decisioning Platform is a platform for decisioning. It is used for credit scoring and finding out who is credit worthy.
                  </p>
                  <a href="http://cdedash.kava.africa" target="_blank" class="button nounderline button-primary">Visit Website</a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="assets/images/cdekava.png" class="project-image"></div>
            </div>
          </section>
          <!--<section class="project-testimonial">
            <a href="http://cdedash.kava.africa" target="_blank" class="button nounderline button-primary">View Full Portfolio</a>
          </section>-->
        </div>
      </div>
    <!-- Start WIP Section-->
    <!-- Start Action Section-->
    <section id="sub-footer" class="cd-section">
      <div class="container">
        <div class="row">
          <div class="eight columns offset-by-two columns">
            <p class="intro slate">Want to work together?</p>
            <p class="statement slate" style='color:white;'>I currently accept collaborative projects. Just take a few minutes to tell me about yours.</p>
            <div class="cd-modal-action"><a href="#0" data-type="modal-trigger" class="btn">Get Started</a><span style="" class="cd-modal-bg"></span>
              <div class="cd-modal">
                <div class="cd-modal-content">
                  <!-- modal content here-->
                  <div class="container">
                    <div class="row">
                      <div class="twelve columns">
                        <div class="contact-header"><a routerLink="/" class="logo">Tito Mordeccai| Software Developer</a></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="eight columns offset-by-two columns">
                        <p class="intro white">Ok, just a few quick questions.</p>
                        <p class="statement white">After you introduce
  yourself and your project, I'll get it touch with you to schedule a 
  time to chat. You should expect to hear from me in a day or so.</p>
                      </div>
                    </div>
                    <div class="form-container">
                      <form action="http://formspree.io/mordeccai9@gmail.com" method="POST">
                        <!-- Hidden inputs-->
                        <input name="_subject" value="Software Work Inquiry!" type="hidden">
                        <input name="_gotcha" style="display:none" type="text">
                        <input name="_next" value="/success" type="hidden">
                        <div class="row">
                          <div class="six columns">
                            <input id="name" name="name" placeholder="Name *" required="" class="u-full-width" type="text">
                          </div>
                          <div class="six columns">
                            <input id="email" name="email" placeholder="Email address *" required="" class="u-full-width" type="email">
                          </div>
                        </div>
                        <div class="row">
                          <div class="six columns">
                            <input id="phone" name="phone" placeholder="Phone number" class="u-full-width" type="text">
                          </div>
                          <div class="six columns">
                            <input id="website" name="website" placeholder="Website" class="u-full-width" type="text">
                          </div>
                        </div>
                        <div class="row">
                          <div class="twelve columns">
                            <textarea id="Message" name="message" placeholder="Tell me about your project... what is it? Why are you doing it? What do you hope to accomplish? How can I help? Timeline and budget details are also appreciated. *" height="50em" required="" class="u-full-width"></textarea>
                            <input value="Submit Your Project" class="button button-ghost-white" type="submit">
                            <p class="required">* Required</p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div><a href="#0" class="cd-modal-close">Close</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div id="contact">
        <div class="container">
          <div class="row">
            <div class="twelve columns"><a routerLink="/" class="logo">Tito Mordeccai Mitto | Full Stack Developer</a>
              <p class="made-by-me">Created by Tito Mordeccai © 2017.</p>
              <p class="made-by-me">+254751321212.</p>
              <div class="social-links"><a href="https://dribbble.com/mordeccai"><i class="fa fa-dribbble"></i></a><a href="https://twitter.com/MordeccaiT"><i class="fa fa-twitter"></i></a><a href="https://www.youtube.com/channel/UCXWJp6WWcT9khBrEnRcWFsQ" target="_blank"><i class="fa fa-youtube"></i></a><a href="https://github.com/mordeccai" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</div>